In [3]:
import graphlab
pessoas = graphlab.SFrame('people_wiki.gl/')

In [5]:
len(pessoas)

59071

In [7]:
pessoas

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
mars = pessoas[pessoas['name'] == 'Bruno Mars']

In [12]:
mars

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Bruno Mars | peter gene hernandez born ... |
+-------------------------------+------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [14]:
mars['text']

dtype: str
Rows: ?
['peter gene hernandez born october 8 1985 professionally known by his stage name bruno mars is an american singer songwriter record producer voice actor and choreographer born and raised in honolulu hawaii by a family of musicians mars began making music at a young age and performed in various musical venues in his hometown throughout his childhood he graduated from high school and moved to los angeles to pursue a musical career mars produced songs for other artists cofounding the production team the smeezingtonsmars had an unsuccessful stint with motown records but then signed with atlantic in 2009 he became recognized as a solo artist after lending his vocals to the songs nothin on you by bob and billionaire by travie mccoy which were worldwide successes and for which he cowrote the hooks his debut studio album doowops hooligans 2010 was anchored by the us billboard hot 100 charttopping singles just the way you are and grenade as well as the numberfive single the lazy song his second album unorthodox jukebox was released in 2012 peaked at number one in the united states the album spawned the international singles locked out of heaven when i was your man and treasuremars has received many awards and nominations including two grammy awards and was named one of time magazines 100 most influential people in the world in 2011 in 2014 he was named artist of the year by billboard and ranked number one on the forbes 30 under 30 list throughout his singing career he has sold over 11 million albums and 68 million singles making him one of the worlds bestselling artists of all time however as a performer writer and producer his total sales surpass 130 million singles five of his singles are counted among the bestselling singles of all time mars is now regarded as one of the most successful solo artists in the world landing 5 numberone singles on the billboard hot 100 since his career launched in 2010 faster than any male singer since elvis presley his total of numberone singles on the billboard hot 100 is sixmars is known for his stage performances and retro showmanship he is accompanied by his band the hooligans which besides playing a variety of instruments such as electric guitar bass piano keyboards drums and horns also serves as dancers and background singers on stage mars is able to sing dance and play a wild range of musical styles including rb reggae soul and funk music', ... ]

In [16]:
mars['word_count']=graphlab.text_analytics.count_words(mars['text'])

In [18]:
print mars['word_count']

[{'all': 2, 'producer': 2, 'dance': 1, 'when': 1, 'over': 1, 'dancers': 1, 'raised': 1, 'produced': 1, '130': 1, 'including': 2, 'surpass': 1, 'horns': 1, 'album': 3, 'charttopping': 1, 'just': 1, 'regarded': 1, 'writer': 1, 'had': 1, 'young': 1, 'counted': 1, 'to': 4, 'production': 1, 'cowrote': 1, 'under': 1, '2014': 1, 'piano': 1, 'has': 2, '2011': 1, 'jukebox': 1, 'bruno': 1, 'styles': 1, 'then': 1, 'his': 13, 'song': 1, 'songwriter': 1, 'billionaire': 1, 'band': 1, 'five': 1, 'background': 1, 'presley': 1, 'world': 2, 'hooks': 1, 'now': 1, 'him': 1, 'name': 1, 'worlds': 1, 'school': 1, 'heaven': 1, '2012': 1, 'bestselling': 2, 'keyboards': 1, 'debut': 1, 'list': 1, 'hawaii': 1, 'serves': 1, 'team': 1, 'accompanied': 1, 'artist': 2, 'doowops': 1, 'choreographer': 1, 'travie': 1, 'drums': 1, 'unsuccessful': 1, 'anchored': 1, 'born': 2, 'second': 1, 'are': 2, 'year': 1, 'billboard': 4, 'peter': 1, 'out': 1, 'treasuremars': 1, 'throughout': 2, 'for': 3, 'record': 1, 'motown': 1, 'since': 2, 'spawned': 1, 'various': 1, 'retro': 1, 'rb': 1, 'international': 1, 'solo': 2, 'lazy': 1, 'bass': 1, 'sold': 1, 'million': 3, 'however': 1, 'guitar': 1, 'ranked': 1, 'studio': 1, 'besides': 1, 'graduated': 1, 'sing': 1, '100': 4, 'by': 7, 'stage': 3, 'on': 5, 'voice': 1, 'successes': 1, 'many': 1, '30': 2, 'recognized': 1, 'angeles': 1, 'forbes': 1, 'range': 1, 'became': 1, 'awards': 2, 'bob': 1, 'gene': 1, 'cofounding': 1, 'childhood': 1, 'among': 1, 'named': 2, 'grammy': 1, 'family': 1, 'instruments': 1, 'lending': 1, 'sixmars': 1, 'number': 2, 'venues': 1, 'one': 5, 'singers': 1, 'magazines': 1, 'professionally': 1, 'artists': 3, '68': 1, 'total': 2, 'singing': 1, 'your': 1, '1985': 1, 'from': 1, 'people': 1, 'two': 1, 'los': 1, 'of': 12, 'music': 2, 'way': 1, 'mars': 5, 'was': 5, 'hernandez': 1, 'received': 1, 'successful': 1, 'elvis': 1, 'landing': 1, 'you': 2, 'released': 1, 'atlantic': 1, 'honolulu': 1, '8': 1, 'known': 2, 'albums': 1, 'with': 2, 'than': 1, 'funk': 1, 'he': 6, '11': 1, 'high': 1, 'october': 1, 'locked': 1, 'pursue': 1, 'soul': 1, 'signed': 1, '2010': 2, 'career': 3, 'hooligans': 2, 'vocals': 1, 'were': 1, 'wild': 1, 'making': 2, 'nominations': 1, 'male': 1, 'grenade': 1, 'launched': 1, 'performed': 1, 'and': 18, 'performer': 1, 'is': 6, 'moved': 1, 'sales': 1, 'an': 2, 'states': 1, 'single': 1, 'at': 2, 'in': 11, 'stint': 1, 'as': 7, 'numberone': 2, 'united': 1, 'us': 1, 'variety': 1, 'numberfive': 1, 'began': 1, 'able': 1, 'american': 1, 'actor': 1, 'any': 1, 'showmanship': 1, 'also': 1, 'hot': 3, 'other': 1, '5': 1, 'which': 3, 'mccoy': 1, 'worldwide': 1, 'reggae': 1, 'play': 1, 'electric': 1, 'singles': 8, 'after': 1, 'hometown': 1, 'most': 2, 'musicians': 1, 'but': 1, 'such': 1, 'unorthodox': 1, 'influential': 1, 'man': 1, 'a': 7, 'peaked': 1, 'singer': 2, 'faster': 1, 'records': 1, 'i': 1, 'performances': 1, 'age': 1, 'well': 1, 'nothin': 1, 'playing': 1, 'smeezingtonsmars': 1, 'time': 3, 'the': 21, '2009': 1, 'musical': 3, 'songs': 2}]

In [20]:
mars_tabela_numero_palavras = mars[['word_count']].stack('word_count',
new_column_name = ['word','count'])

In [24]:
mars_tabela_numero_palavras.sort('count',ascending=False)

Columns:
	word	str
	count	int

Rows: 235

Data:
+---------+-------+
|   word  | count |
+---------+-------+
|   the   |   21  |
|   and   |   18  |
|   his   |   13  |
|    of   |   12  |
|    in   |   11  |
| singles |   8   |
|    as   |   7   |
|    a    |   7   |
|    by   |   7   |
|    is   |   6   |
+---------+-------+
[235 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [25]:
mars_tabela_numero_palavras

Columns:
	word	str
	count	int

Rows: 235

Data:
+------------+-------+
|    word    | count |
+------------+-------+
|    funk    |   1   |
|    soul    |   1   |
|   reggae   |   1   |
|     rb     |   1   |
|   range    |   1   |
|    play    |   1   |
|    sing    |   1   |
|    able    |   1   |
| background |   1   |
|  dancers   |   1   |
+------------+-------+
[235 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [27]:
pessoas['word_count'] = graphlab.text_analytics.count_words(pessoas['text'])

In [29]:
pessoas

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [35]:
tfidf = graphlab.text_analytics.tf_idf(pessoas['word_count'])
pessoas['tfidf']=tfidf

In [38]:
mars = pessoas[pessoas['name'] == 'Bruno Mars']

In [42]:
mars[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 235

Data:
+--------------+---------------+
|     word     |     tfidf     |
+--------------+---------------+
|   singles    | 29.8982426569 |
|     mars     | 28.2930961022 |
|  hooligans   |  18.38947184  |
|  billboard   | 17.3036809575 |
|  numberone   | 12.4658103962 |
|     hot      |  12.293768789 |
|     100      | 11.8965829996 |
|   doowops    | 10.9864953892 |
| treasuremars | 10.9864953892 |
|   sixmars    | 10.9864953892 |
+--------------+---------------+
[235 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [44]:
obama = pessoas[pessoas['name'] == 'Barack Obama']

In [47]:
graphlab.distances.euclidean(mars['tfidf'][0], obama['tfidf'][0])

132.5619623792695

In [49]:
graphlab.distances.manhattan(mars['tfidf'][0], obama['tfidf'][0])

2203.7833966301055

In [60]:
pitt = pessoas[pessoas['name'] == 'Brad Pitt']

In [53]:
gosling = pessoas[pessoas['name'] == 'Ryan Gosling']

In [55]:
swift = pessoas[pessoas['name'] == 'Taylor Swift']

In [57]:
graphlab.distances.cosine(pitt['tfidf'][0], gosling['tfidf'][0])

0.8838432538702772

In [61]:
graphlab.distances.cosine(pitt['tfidf'][0], swift['tfidf'][0])

0.9662486270921202

In [63]:
bieber = pessoas[pessoas['name'] == 'Justin Bieber']

In [65]:
knn_model = graphlab.nearest_neighbors.create(pessoas,features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

In [66]:
knn_model.query(bieber)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 123.525ms    |

| Done         |         | 100         | 975.481ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Justin Bieber    |      0.0       |  1   |
|      0      |   Ellie Goulding   |      0.75      |  2   |
|      0      | Sam Smith (singer) | 0.765182186235 |  3   |
|      0      |   Ariana Grande    | 0.767527675277 |  4   |
|      0      |       B.o.B        |      0.77      |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]