In [1]:
import graphlab
pessoas = graphlab.SFrame('people_wiki.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to s.vitorio.alves@gmail.com and will expire on April 04, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1528994695.log

In [2]:
len(pessoas)

59071

In [3]:
pessoas

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [12]:
god = pessoas[pessoas['name']=='Keanu Reeves']

In [13]:
god

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Keanu Reeves | keanu charles reeves kenu ... |
+-------------------------------+--------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [14]:
god['text']

dtype: str
Rows: ?
['keanu charles reeves kenu kayahnoo born september 2 1964 is a canadian actor director producer musician and authorreeves is most well known for a prolific acting career beginning in 1985 and spanning for more than three decades he gained fame for his starring role performances in several blockbuster films including comedies from the bill and ted franchise 19891991 action thrillers point break 1991 and speed 1994 and the science fictionaction trilogy the matrix 19992003 he has also appeared in several dramatic films such as dangerous liaisons 1988 my own private idaho 1991 and little buddha 1993since becoming active in the film industry reeves abilities have earned critical acclaim one new york times critic praised reeves versatility saying that he displays considerable discipline and range he moves easily between the buttoneddown demeanor that suits a police procedural story and the loosejointed manner of his comic roles even with an amplitude of skills reeves has spent much of his later career being typecast a recurring character arc in many roles he has portrayed is one of saving the world as can be seen in the characters of ted logan buddha neo johnny mnemonic john constantine and klaatu his acting has garnered several awards including a star on the hollywood walk of fameduring his film career reeves has engaged in several forms of artistic expression he played bass guitar in the bands dogstar and becky acting onstage he performed as prince hamlet for the manitoba theatre centres production of hamlet he wrote the text for a picture book ode to happiness illustrated by alexandra grant he has also produced a documentary side by side and directed the martial arts film man of tai chi', ... ]

In [15]:
god['cont_palavra']=graphlab.text_analytics.count_words(god['text'])

In [17]:
print god['cont_palavra']

[{'saying': 1, 'abilities': 1, 'producer': 1, 'being': 1, 'text': 1, 'charles': 1, 'hamlet': 2, 'illustrated': 1, 'logan': 1, 'including': 2, '1993since': 1, 'speed': 1, 'portrayed': 1, 'happiness': 1, 'discipline': 1, 'police': 1, 'earned': 1, 'with': 1, 'buttoneddown': 1, 'character': 1, 'suits': 1, 'forms': 1, 'to': 1, 'production': 1, 'my': 1, 'has': 6, 'onstage': 1, '1991': 2, 'his': 5, 'than': 1, 'bands': 1, 'kenu': 1, 'break': 1, '2': 1, 'klaatu': 1, 'world': 1, 'walk': 1, 'easily': 1, 'liaisons': 1, 'kayahnoo': 1, 'skills': 1, 'science': 1, 'alexandra': 1, 'side': 2, 'wrote': 1, 'september': 1, 'ted': 2, 'keanu': 1, 'demeanor': 1, 'arc': 1, 'displays': 1, 'little': 1, 'comedies': 1, 'even': 1, 'neo': 1, 'typecast': 1, 'prolific': 1, 'prince': 1, 'acting': 3, 'critical': 1, 'buddha': 2, 'produced': 1, 'between': 1, 'new': 1, 'be': 1, 'bass': 1, 'story': 1, 'guitar': 1, 'awards': 1, 'york': 1, 'starring': 1, 'active': 1, 'beginning': 1, 'by': 2, 'gained': 1, 'on': 1, 'authorreeves': 1, 'canadian': 1, 'career': 3, 'of': 9, 'industry': 1, 'times': 1, 'loosejointed': 1, 'range': 1, 'performances': 1, 'constantine': 1, 'action': 1, 'procedural': 1, 'documentary': 1, 'decades': 1, 'and': 11, 'own': 1, 'saving': 1, 'point': 1, 'appeared': 1, 'private': 1, 'one': 2, 'franchise': 1, 'comic': 1, 'arts': 1, '1985': 1, 'from': 1, 'chi': 1, 'trilogy': 1, 'three': 1, '1988': 1, 'ode': 1, 'much': 1, 'films': 2, 'hollywood': 1, 'john': 1, 'recurring': 1, 'more': 1, '19891991': 1, 'that': 2, 'becoming': 1, 'musician': 1, 'praised': 1, 'dramatic': 1, 'garnered': 1, 'known': 1, 'reeves': 5, 'versatility': 1, 'he': 9, 'directed': 1, '1994': 1, 'roles': 2, 'born': 1, 'dangerous': 1, 'bill': 1, 'as': 3, 'can': 1, 'amplitude': 1, 'many': 1, 'thrillers': 1, 'fictionaction': 1, 'matrix': 1, 'manner': 1, 'mnemonic': 1, 'dogstar': 1, 'acclaim': 1, 'johnny': 1, 'played': 1, 'is': 3, 'in': 8, 'engaged': 1, 'an': 1, 'critic': 1, 'performed': 1, 'have': 1, 'manitoba': 1, 'seen': 1, 'spanning': 1, 'moves': 1, 'fame': 1, 'film': 3, 'blockbuster': 1, 'considerable': 1, 'grant': 1, '1964': 1, 'actor': 1, 'tai': 1, 'also': 2, 'book': 1, 'role': 1, 'martial': 1, 'several': 4, 'idaho': 1, 'picture': 1, 'becky': 1, 'star': 1, 'theatre': 1, 'fameduring': 1, 'director': 1, 'most': 1, 'characters': 1, 'such': 1, 'man': 1, 'a': 7, 'for': 5, 'expression': 1, 'later': 1, 'well': 1, 'spent': 1, 'artistic': 1, 'centres': 1, 'the': 13, '19992003': 1}]

In [19]:
god_tabela_numero_palavras = god[['cont_palavra']].stack('cont_palavra', new_column_name=['palavra','conta'])

In [20]:
god_tabela_numero_palavras

Columns:
	palavra	str
	conta	int

Rows: 188

Data:
+-------------+-------+
|   palavra   | conta |
+-------------+-------+
|   produced  |   1   |
|    grant    |   1   |
| illustrated |   1   |
|     chi     |   1   |
|  happiness  |   1   |
|     book    |   1   |
|     text    |   1   |
|    wrote    |   1   |
|   manitoba  |   1   |
|    hamlet   |   2   |
+-------------+-------+
[188 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [25]:
god_tabela_numero_palavras.sort('conta',ascending=False)

Columns:
	palavra	str
	conta	int

Rows: 188

Data:
+---------+-------+
| palavra | conta |
+---------+-------+
|   the   |   13  |
|   and   |   11  |
|    of   |   9   |
|    he   |   9   |
|    in   |   8   |
|    a    |   7   |
|   has   |   6   |
|   for   |   5   |
|   his   |   5   |
|  reeves |   5   |
+---------+-------+
[188 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [32]:
tfidf=graphlab.text_analytics.tf_idf(god['cont_palavra'])
god['tfidf']=tfidf

In [33]:
god

Columns:
	URI	str
	name	str
	text	str
	cont_palavra	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Keanu Reeves | keanu charles reeves kenu ... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|          cont_palavra         |             tfidf             |
+-------------------------------+-------------------------------+
| {'saying': 1, 'abilities':... | {'saying': 0.0, 'abilities... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [34]:
pessoas['word_count']=graphlab.text_analytics.count_words(pessoas['text'])

In [40]:
tfidf = graphlab.text_analytics.tf_idf(pessoas['word_count'])

In [42]:
pessoas['tfidf']=tfidf

In [43]:
pessoas

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'selection': 3.8365785530... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'they': 1.899340117819389... |
| {'currently': 1.6370889691... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [44]:
god

Columns:
	URI	str
	name	str
	text	str
	cont_palavra	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Keanu Reeves | keanu charles reeves kenu ... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|          cont_palavra         |             tfidf             |
+-------------------------------+-------------------------------+
| {'saying': 1, 'abilities':... | {'saying': 0.0, 'abilities... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [45]:
god = pessoas[pessoas['name']=='Keanu Reeves']

In [48]:
god[['tfidf']].stack('tfidf', new_column_name=['word','tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 188

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|     reeves    | 32.1630924881 |
|     buddha    | 13.8521047574 |
|     hamlet    | 12.0897059332 |
|  authorreeves | 10.9864953892 |
|    kayahnoo   | 10.9864953892 |
|     klaatu    | 10.9864953892 |
| fictionaction | 10.9864953892 |
|  buttoneddown | 10.9864953892 |
|  loosejointed | 10.9864953892 |
|      kenu     | 10.9864953892 |
+---------------+---------------+
[188 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [47]:
god

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Keanu Reeves | keanu charles reeves kenu ... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'saying': 1, 'abilities':... | {'saying': 4.0938537480531... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [49]:
will = pessoas[pessoas['name']=='Will Smith']

In [50]:
will

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Will Smith | willard carroll will smith... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'office': 3, 'ali': 1, 's... | {'office': 7.8722592348294... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [60]:
nico = pessoas[pessoas['name'] ==  'Nicolas Cage']

In [61]:
nico

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Nicolas Cage | nicolas kim coppola born j... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1, 'vampires': 1, ... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [62]:
graphlab.distances.cosine(god['tfidf'][0], will['tfidf'][0])

0.9346960759085815

In [63]:
graphlab.distances.cosine(god['tfidf'][0], nico['tfidf'][0])

0.9205868487854103

In [64]:
knn_model = graphlab.nearest_neighbors.create(pessoas, features=['tfidf'],label='name')

Starting brute force nearest neighbors model training.

In [65]:
knn_model.query(god)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 2       | 0.00338576  | 103.339ms    |

| Done         |         | 100         | 419.338ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-----------------+----------------+------+
| query_label | reference_label |    distance    | rank |
+-------------+-----------------+----------------+------+
|      0      |   Keanu Reeves  |      0.0       |  1   |
|      0      |     Bill Dow    | 0.849264705882 |  2   |
|      0      |    Matt Damon   | 0.850746268657 |  3   |
|      0      |  Michael Keaton | 0.850847457627 |  4   |
|      0      |  Leonard Nimoy  | 0.853820598007 |  5   |
+-------------+-----------------+----------------+------+
[5 rows x 4 columns]

In [66]:
bruno = pessoas[pessoas['name']=='Bruno Mars']

In [70]:
obama = pessoas[pessoas['name']=='Barack Obama']
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'operations': 1, 'represe... | {'operations': 3.811771079... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [71]:
graphlab.distances.cosine(bruno['tfidf'][0], obama['tfidf'][0])

0.9738083976725909

In [72]:
graphlab.distances.euclidean(bruno['tfidf'][0], obama['tfidf'][0])

132.5619623792695

In [73]:
graphlab.distances.jaccard(bruno['tfidf'][0], obama['tfidf'][0])

0.9075268817204301

In [74]:
brad = pessoas[pessoas['name']=='Brad Pitt']
ryan = pessoas[pessoas['name']=='Ryan Gosling']
taylo =pessoas[pessoas['name']=='Taylor Swift']

In [76]:
graphlab.distances.cosine(brad['tfidf'][0], ryan['tfidf'][0])

0.8838432538702772

In [77]:
graphlab.distances.cosine(brad['tfidf'][0], taylo['tfidf'][0])

0.9662486270921202

In [78]:
justin = pessoas[pessoas['name']=='Justin Bieber']
ranking = graphlab.nearest_neighbors.create(pessoas, features = ['tfidf'],label='name')

Starting brute force nearest neighbors model training.

In [79]:
ranking.query(justin)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 26.152ms     |

| Done         |         | 100         | 316.927ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Justin Bieber    |      0.0       |  1   |
|      0      |   Ellie Goulding   |      0.75      |  2   |
|      0      | Sam Smith (singer) | 0.765182186235 |  3   |
|      0      |   Ariana Grande    | 0.767527675277 |  4   |
|      0      |       B.o.B        |      0.77      |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]