In [1]:
import graphlab

In [5]:
pessoas = graphlab.SFrame('people_wiki.gl/')

In [6]:
len(pessoas)

59071

In [7]:
pessoas

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
bowie = pessoas [pessoas['name'] == 'David Bowie']

In [11]:
bowie

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+-------------+-------------------------------+
|              URI              |     name    |              text             |
+-------------------------------+-------------+-------------------------------+
| <http://dbpedia.org/resour... | David Bowie | david bowie born david rob... |
+-------------------------------+-------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [12]:
bowie['text']

dtype: str
Rows: ?
['david bowie born david robert jones 8 january 1947 is an english singer songwriter multiinstrumentalist record producer arranger and actor he is also a painter and collector of fine art bowie boi has been a major figure in the world of popular music for over four decades and is renowned as an innovator particularly for his work in the 1970s he is known for his distinctive voice as well as the intellectual depth and eclecticism of his work aside from his musical abilities he is recognised for his androgynous beauty which was an iconic element to his image particularly in the 1970s and 1980sbowie first caught the eye and ear of the public in july 1969 when his song space oddity reached the top five of the uk singles chart after a threeyear period of experimentation he reemerged in 1972 during the glam rock era with the flamboyant androgynous alter ego ziggy stardust spearheaded by the hit single starman and the album the rise and fall of ziggy stardust and the spiders from mars bowies impact at that time as described by biographer david buckley challenged the core belief of the rock music of its day and created perhaps the biggest cult in popular culture the relatively shortlived ziggy persona proved merely one facet of a career marked by continual reinvention musical innovation and striking visual presentationin 1975 bowie achieved his first major american crossover success with the numberone single fame and the hit album young americans which the singer characterised as plastic soul the sound constituted a radical shift in style that initially alienated many of his uk devotees he then confounded the expectations of both his record label and his american audiences by recording the minimalist album low 1977the first of three collaborations with brian eno over the next two years low heroes and lodger the socalled berlin trilogy albums all reached the uk top five and received lasting critical praise after uneven commercial success in the late 1970s bowie had uk number ones with the 1980 single ashes to ashes its parent album scary monsters and super creeps and under pressure a 1981 collaboration with queen he then reached a new commercial peak in 1983 with lets dance which yielded several hit singles throughout the 1990s and 2000s bowie continued to experiment with musical styles including blueeyed soul industrial adult contemporary and jungle he has not toured since the 200304 reality tour and has not performed live since 2006 bowies latest studio album the next day was released in march 2013david buckley says of bowie his influence has been unique in popular culturehe has permeated and altered more lives than any comparable figure in the bbcs 2002 poll of the 100 greatest britons bowie was placed at number 29 throughout his career he has sold an estimated 140 million albums in the uk he has been awarded nine platinum album certifications 11 gold and eight silver and in the us five platinum and seven gold certifications in 2004 rolling stone ranked him 39th on their list of the 100 greatest artists of all time and 23rd on their list of the best singers of all time', ... ]

In [13]:
bowie['word_count'] = graphlab.text_analytics.count_words(bowie['text'])

In [14]:
print bowie['word_count']

[{'all': 3, 'abilities': 1, 'particularly': 2, 'producer': 1, 'from': 2, 'dance': 1, 'over': 2, 'both': 1, 'contemporary': 1, 'years': 1, 'four': 1, 'known': 1, 'including': 1, 'spiders': 1, 'world': 1, '1977the': 1, 'eno': 1, 'fine': 1, 'its': 2, 'one': 1, 'constituted': 1, 'style': 1, 'uneven': 1, 'gold': 2, 'also': 1, 'recognised': 1, 'had': 1, '29': 1, 'silver': 1, 'late': 1, 'to': 3, 'lets': 1, 'critical': 1, 'under': 1, '8': 1, 'of': 19, 'has': 7, 'decades': 1, 'alter': 1, 'styles': 1, 'then': 2, 'queen': 1, 'march': 1, 'song': 1, 'songwriter': 1, 'innovation': 1, 'period': 1, 'next': 2, 'ones': 1, 'five': 3, 'intellectual': 1, 'fall': 1, 'not': 2, 'during': 1, 'unique': 1, 'continued': 1, 'him': 1, 'minimalist': 1, 'success': 2, 'impact': 1, 'january': 1, 'yielded': 1, 'list': 2, 'berlin': 1, 'public': 1, 'ashes': 2, 'rock': 2, 'popular': 3, '2000s': 1, '2013david': 1, 'expectations': 1, 'lasting': 1, 'says': 1, 'achieved': 1, '1947': 1, 'soul': 2, 'culture': 1, 'bowies': 2, 'stardust': 2, 'uk': 5, 'a': 7, 'reached': 3, 'estimated': 1, 'collector': 1, 'best': 1, 'innovator': 1, 'album': 6, 'throughout': 2, 'beauty': 1, 'for': 4, 'placed': 1, 'distinctive': 1, 'ear': 1, 'since': 2, 'label': 1, 'singles': 2, 'experiment': 1, 'socalled': 1, 'permeated': 1, '23rd': 1, 'britons': 1, 'new': 1, 'multiinstrumentalist': 1, 'monsters': 1, 'core': 1, 'comparable': 1, 'belief': 1, 'parent': 1, 'initially': 1, 'sold': 1, 'million': 1, 'commercial': 2, 'iconic': 1, 'pressure': 1, 'ranked': 1, 'studio': 1, 'shortlived': 1, 'element': 1, 'singers': 1, 'eye': 1, '100': 2, 'super': 1, 'by': 4, 'plastic': 1, 'scary': 1, 'stone': 1, 'certifications': 2, 'creeps': 1, 'english': 1, 'career': 2, 'many': 1, 'bowie': 7, 'eclecticism': 1, 'david': 3, 'facet': 1, 'characterised': 1, 'tour': 1, '1970s': 3, 'buckley': 2, 'top': 2, 'first': 3, 'major': 2, 'industrial': 1, 'striking': 1, 'radical': 1, 'merely': 1, 'number': 2, 'marked': 1, 'two': 1, '39th': 1, 'cult': 1, 'americans': 1, 'artists': 1, 'reinvention': 1, '1990s': 1, 'poll': 1, 'experimentation': 1, 'platinum': 2, 'art': 1, 'described': 1, '1983': 1, '1980': 1, '1981': 1, 'confounded': 1, 'caught': 1, 'trilogy': 1, 'challenged': 1, 'three': 1, 'been': 3, 'awarded': 1, 'their': 2, 'live': 1, '1980sbowie': 1, 'music': 2, 'low': 2, 'mars': 1, 'biggest': 1, 'bbcs': 1, 'was': 3, 'more': 1, 'jones': 1, 'rolling': 1, 'on': 2, 'presentationin': 1, 'robert': 1, 'released': 1, 'visual': 1, 'lives': 1, 'adult': 1, 'glam': 1, 'continual': 1, 'spearheaded': 1, 'july': 1, 'an': 4, 'with': 7, 'than': 1, 'painter': 1, 'he': 9, 'sound': 1, 'flamboyant': 1, 'born': 1, 'collaborations': 1, 'work': 2, 'androgynous': 2, 'single': 3, 'us': 1, 'recording': 1, 'record': 2, 'arranger': 1, 'nine': 1, 'era': 1, 'praise': 1, 'young': 1, 'voice': 1, '200304': 1, 'and': 25, 'seven': 1, 'lodger': 1, 'proved': 1, 'figure': 2, 'oddity': 1, 'created': 1, 'devotees': 1, 'is': 5, 'received': 1, 'influence': 1, 'crossover': 1, 'culturehe': 1, 'his': 13, 'audiences': 1, 'performed': 1, 'in': 15, 'starman': 1, 'hit': 3, 'shift': 1, 'fame': 1, 'as': 5, 'relatively': 1, 'numberone': 1, '11': 1, 'renowned': 1, 'blueeyed': 1, 'boi': 1, 'perhaps': 1, 'image': 1, 'that': 2, 'when': 1, 'aside': 1, 'actor': 1, 'reality': 1, 'brian': 1, 'which': 3, 'toured': 1, 'ego': 1, 'several': 1, 'day': 2, 'greatest': 2, 'threeyear': 1, 'persona': 1, 'altered': 1, '140': 1, 'any': 1, 'albums': 2, 'collaboration': 1, 'after': 2, 'chart': 1, 'rise': 1, 'eight': 1, 'peak': 1, 'biographer': 1, 'heroes': 1, 'reemerged': 1, '1969': 1, 'alienated': 1, 'singer': 2, '1975': 1, 'space': 1, 'well': 1, '1972': 1, 'ziggy': 3, '2002': 1, 'depth': 1, '2006': 1, 'jungle': 1, '2004': 1, 'time': 3, 'at': 2, 'american': 2, 'the': 38, 'musical': 3, 'latest': 1}]

In [17]:
bowie_tabela_numero_palavras = bowie[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [18]:
bowie_tabela_numero_palavras

Columns:
	word	str
	count	int

Rows: 291

Data:
+----------------+-------+
|      word      | count |
+----------------+-------+
|       on       |   2   |
|      39th      |   1   |
|      him       |   1   |
|     stone      |   1   |
|     silver     |   1   |
|     eight      |   1   |
|    singers     |   1   |
| certifications |   2   |
|    awarded     |   1   |
|    million     |   1   |
+----------------+-------+
[291 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [19]:
bowie_tabela_numero_palavras.sort('count', ascending= False)

Columns:
	word	str
	count	int

Rows: 291

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   38  |
|  and  |   25  |
|   of  |   19  |
|   in  |   15  |
|  his  |   13  |
|   he  |   9   |
|  has  |   7   |
|  with |   7   |
| bowie |   7   |
|   a   |   7   |
+-------+-------+
[291 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [28]:
pessoas
tfidf = graphlab.text_analytics.tf_idf(pessoas['word_count'])
pessoas['tfidf']=tfidf

In [25]:
pessoas['word_count'] = graphlab.text_analytics.count_words(pessoas['text'])

In [26]:
pessoas_tabela_numero_palavras = pessoas[['word_count']].stack('word_count', new_column_name = ['word','count'])

In [27]:
pessoas

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
[59071 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [30]:
pessoas

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'selection': 1, 'carltons... |
| alfred j lewy aka sandy le... | {'precise': 1, 'thomas': 1... |
| harpdog brown is a singer ... | {'just': 1, 'issued': 1, '... |
| franz rottensteiner born i... | {'all': 1, 'bauforschung':... |
| henry krvits born 30 decem... | {'they': 1, 'gangstergenka... |
| sam henderson born october... | {'currently': 1, 'less': 1... |
| aaron lacrate is an americ... | {'exclusive': 2, 'producer... |
| trevor ferguson aka john f... | {'taxi': 1, 'salon': 1, 'g... |
| grant nelson born 27 april... | {'houston': 1, 'frankie': ... |
| cathy caruth born 1955 is ... | {'phenomenon': 1, 'deboras... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'selection': 3.8365785530... |
| {'precise': 6.443200606955... |
| {'just': 2.700729968710864... |
| {'all': 1.6431112434912472... |
| {'they': 1.899340117819389... |
| {'currently': 1.6370889691... |
| {'exclusive': 10.455187230... |
| {'taxi': 6.052021456094502... |
| {'houston': 3.935505942157... |
| {'phenomenon': 5.750053426... |
+-------------------------------+
[59071 rows x 5 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [33]:
bowie = pessoas[ pessoas ['name'] ==  'David Bowie']

In [35]:
bowie[['tfidf']].stack('tfidf',new_column_name = ['word' , 'tfidf']).sort('tfidf', ascending= False)

Columns:
	word	str
	tfidf	float

Rows: 291

Data:
+----------------+---------------+
|      word      |     tfidf     |
+----------------+---------------+
|     bowie      | 42.2146783214 |
|     ziggy      |  23.972289347 |
|  androgynous   | 16.0841128201 |
|     bowies     |  15.883945903 |
| certifications | 15.2383991185 |
|     album      | 14.7075950119 |
|    stardust    |  14.545846645 |
|       uk       | 13.9530499896 |
|    buckley     | 12.8652369952 |
|     ashes      | 12.7827510782 |
+----------------+---------------+
[291 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [36]:
swift = pessoas[pessoas['name']== 'Taylor Swift']

In [37]:
arnold = pessoas[pessoas['name']== 'Arnold Schwarzenegger']

In [38]:
arnold

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+-----------------------+
|              URI              |          name         |
+-------------------------------+-----------------------+
| <http://dbpedia.org/resour... | Arnold Schwarzenegger |
+-------------------------------+-----------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| arnold alois schwarzenegge... | {'producer': 1, 'german': ... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tfidf             |
+-------------------------------+
| {'producer': 2.61571621626... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [39]:
graphlab.distances.cosine(bowie['tfidf'][0], swift['tfidf'][0])

0.9073192509756284

In [40]:
graphlab.distances.cosine(bowie['tfidf'][0], arnold['tfidf'][0])

0.9818825183588984

In [41]:
knn_model = graphlab.nearest_neighbors.create(pessoas,features = ['tfidf'], label='name')

Starting brute force nearest neighbors model training.

In [42]:
knn_model.query(bowie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 63.734ms     |

| Done         |         | 100         | 545.439ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   David Bowie    |      0.0       |  1   |
|      0      |   Phil Collins   | 0.80701754386  |  2   |
|      0      |  George Michael  | 0.819628647215 |  3   |
|      0      |   Alicia Keys    | 0.81975308642  |  4   |
|      0      | Carrie Underwood | 0.823255813953 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [45]:
obama = pessoas[pessoas['name']== 'Barack Obama']

In [46]:
obama

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Barack Obama | barack hussein obama ii br... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'operations': 1, 'represe... | {'operations': 3.811771079... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [47]:
bruno = pessoas[pessoas['name']== 'Bruno Mars']

In [48]:
bruno

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Bruno Mars | peter gene hernandez born ... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 2, 'producer': 2, ... | {'all': 3.2862224869824943... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [49]:
brad = pessoas[pessoas['name']== 'Brad Pitt']

In [50]:
brad

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+-----------+-------------------------------+
|              URI              |    name   |              text             |
+-------------------------------+-----------+-------------------------------+
| <http://dbpedia.org/resour... | Brad Pitt | william bradley brad pitt ... |
+-------------------------------+-----------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'departed': 1, 'producer'... | {'departed': 5.61585736109... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [51]:
ryan = pessoas[pessoas['name']== 'Ryan Gosling']

In [52]:
ryan

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+--------------+-------------------------------+
|              URI              |     name     |              text             |
+-------------------------------+--------------+-------------------------------+
| <http://dbpedia.org/resour... | Ryan Gosling | ryan thomas gosling born n... |
+-------------------------------+--------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'threeyear': 1, 'young': ... | {'threeyear': 5.1314234670... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [53]:
justin = pessoas[pessoas['name']== 'Justin Bieber']

In [54]:
justin

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: Unknown

Data:
+-------------------------------+---------------+-------------------------------+
|              URI              |      name     |              text             |
+-------------------------------+---------------+-------------------------------+
| <http://dbpedia.org/resour... | Justin Bieber | justin drew bieber bibr bo... |
+-------------------------------+---------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'contacted': 1, 'over': 1... | {'contacted': 5.7879983579... |
+-------------------------------+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [57]:
graphlab.distances.cosine(brad['tfidf'][0], swift['tfidf'][0])

0.9662486270921202

In [58]:
graphlab.distances.cosine(brad['tfidf'][0], ryan['tfidf'][0])

0.8838432538702772

In [59]:
knn_model = graphlab.nearest_neighbors.create(pessoas,features = ['tfidf'], label='name')

Starting brute force nearest neighbors model training.

In [60]:
knn_model.query(justin)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 55.424ms     |

| Done         |         | 100         | 389.561ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Justin Bieber    |      0.0       |  1   |
|      0      |   Ellie Goulding   |      0.75      |  2   |
|      0      | Sam Smith (singer) | 0.765182186235 |  3   |
|      0      |   Ariana Grande    | 0.767527675277 |  4   |
|      0      |       B.o.B        |      0.77      |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]

In [63]:
graphlab.distances.euclidean(bruno['tfidf'][0], obama['tfidf'][0])

132.5619623792695

In [64]:
graphlab.distances.manhattan(bruno['tfidf'][0], obama['tfidf'][0])

2203.7833966301055