In [1]:
import graphlab

In [2]:
pessoas = graphlab.SFrame('people_wiki.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to brenamaia12@gmail.com and will expire on March 22, 2019.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1529360259.log

In [3]:
len(pessoas)

59071

In [4]:
pessoas

Columns:
	URI	str
	name	str
	text	str

Rows: 59071

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
| <http://dbpedia.org/resour... |    Sam Henderson    |
| <http://dbpedia.org/resour... |    Aaron LaCrate    |
| <http://dbpedia.org/resour... |   Trevor Ferguson   |
| <http://dbpedia.org/resour... |     Grant Nelson    |
| <http://dbpedia.org/resour... |     Cathy Caruth    |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
| sam henderson born october... |
| aaron lacrate is an americ... |
| trevor ferguson aka john f... |
| grant nelson born 27 april... |
| cathy caruth born 1955 is ... |
+-------------------------------+
[59071 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [5]:
bowie = pessoas[pessoas['name'] == 'David Bowie']

In [6]:
bowie

Columns:
	URI	str
	name	str
	text	str

Rows: Unknown

Data:
+-------------------------------+-------------+-------------------------------+
|              URI              |     name    |              text             |
+-------------------------------+-------------+-------------------------------+
| <http://dbpedia.org/resour... | David Bowie | david bowie born david rob... |
+-------------------------------+-------------+-------------------------------+
[? rows x 3 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [7]:
bowie['word_count'] = graphlab.text_analytics.count_words(bowie['text'])

In [8]:
bowie_tabela_numero_palavras = bowie[['word_count']].stack('word_count', new_column_name = ['word', 'count'])

In [9]:
bowie_tabela_numero_palavras.sort('count', ascending=False)

Columns:
	word	str
	count	int

Rows: 291

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |   38  |
|  and  |   25  |
|   of  |   19  |
|   in  |   15  |
|  his  |   13  |
|   he  |   9   |
|  has  |   7   |
|  with |   7   |
| bowie |   7   |
|   a   |   7   |
+-------+-------+
[291 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
pessoas['word_count'] = graphlab.text_analytics.count_words(pessoas['text'])

In [11]:
tfidf = graphlab.text_analytics.tf_idf(pessoas['word_count'])

In [12]:
pessoas['tfidf'] = tfidf

In [13]:
bowie = pessoas[pessoas['name'] == 'David Bowie']

In [14]:
bowie[['tfidf']].stack('tfidf', new_column_name=['word', 'tfidf']).sort('tfidf', ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 291

Data:
+----------------+---------------+
|      word      |     tfidf     |
+----------------+---------------+
|     bowie      | 42.2146783214 |
|     ziggy      |  23.972289347 |
|  androgynous   | 16.0841128201 |
|     bowies     |  15.883945903 |
| certifications | 15.2383991185 |
|     album      | 14.7075950119 |
|    stardust    |  14.545846645 |
|       uk       | 13.9530499896 |
|    buckley     | 12.8652369952 |
|     ashes      | 12.7827510782 |
+----------------+---------------+
[291 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
swift = pessoas[pessoas['name'] == 'Taylor Swift']
arnold = pessoas[pessoas['name'] == 'Arnold Schwarzenegger']

In [16]:
graphlab.distances.cosine(bowie['tfidf'][0], swift['tfidf'][0])

0.9073192509756284

In [17]:
graphlab.distances.cosine(bowie['tfidf'][0], arnold['tfidf'][0])

0.9818825183588984

In [18]:
knn_model = graphlab.nearest_neighbors.create(pessoas, features=['tfidf'], label='name')

Starting brute force nearest neighbors model training.

In [19]:
knn_model.query(bowie)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 113.84ms     |

| 0            | 33128   | 56.0817     | 1.11s        |

| Done         |         | 100         | 1.89s        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+----------------+------+
| query_label | reference_label  |    distance    | rank |
+-------------+------------------+----------------+------+
|      0      |   David Bowie    |      0.0       |  1   |
|      0      |   Phil Collins   | 0.80701754386  |  2   |
|      0      |  George Michael  | 0.819628647215 |  3   |
|      0      |   Alicia Keys    | 0.81975308642  |  4   |
|      0      | Carrie Underwood | 0.823255813953 |  5   |
+-------------+------------------+----------------+------+
[5 rows x 4 columns]

In [20]:
bruno = pessoas[pessoas['name'] == 'Bruno Mars']

In [21]:
barack = pessoas[pessoas['name'] == 'Barack Obama']

In [22]:
graphlab.distances.cosine(bruno['tfidf'][0], barack['tfidf'][0])

0.9738083976725909

In [23]:
graphlab.distances.euclidean(bruno['tfidf'][0], barack['tfidf'][0])

132.5619623792695

In [26]:
graphlab.distances.manhattan(bruno['tfidf'][0], barack['tfidf'][0])

2203.7833966301055

In [27]:
brad = pessoas[pessoas['name'] == 'Brad Pitt']

In [29]:
ryan = pessoas[pessoas['name'] == 'Ryan Gosling']

In [30]:
graphlab.distances.cosine(brad['tfidf'][0], ryan['tfidf'][0])

0.8838432538702772

In [31]:
graphlab.distances.cosine(brad['tfidf'][0], swift['tfidf'][0])

0.9662486270921202

In [32]:
justin = pessoas[pessoas['name'] == 'Justin Bieber']

In [33]:
knn_model = graphlab.nearest_neighbors.create(pessoas, features=['tfidf'], label='name')

Starting brute force nearest neighbors model training.

In [34]:
knn_model.query(justin)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 83.011ms     |

| 0            | 25089   | 42.4726     | 1.09s        |

| 0            | 50177   | 84.9435     | 2.12s        |

| Done         |         | 100         | 2.94s        |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------+----------------+------+
| query_label |  reference_label   |    distance    | rank |
+-------------+--------------------+----------------+------+
|      0      |   Justin Bieber    |      0.0       |  1   |
|      0      |   Ellie Goulding   |      0.75      |  2   |
|      0      | Sam Smith (singer) | 0.765182186235 |  3   |
|      0      |   Ariana Grande    | 0.767527675277 |  4   |
|      0      |       B.o.B        |      0.77      |  5   |
+-------------+--------------------+----------------+------+
[5 rows x 4 columns]